<p id="notice"><%= notice %></p>

<h1 class="za_head">Kt Tips</h1><hr>
<div class="ze_table">
  <table class="home_table">
    <thead class="home_thead">
    <tr>
      <th>Topic</th>
      <th>Content</th>
      <th>Written on</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @kt_tips.each do |kt_tip| %>
      <tr>
        <td><%= kt_tip.topic %></td>
        <td><%= kt_tip.content %></td>
        <td><%= kt_tip.written_on %></td>
        <td><%= kt_tip.likes %></td>
        <td><%= link_to 'Show', kt_tip %></td>
        <td><%= link_to 'Edit', edit_kt_tip_path(kt_tip) %></td>
        <td><%= link_to 'Destroy', kt_tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
