<h1 class="za_head">PAY</h1>

<div class="ze_content">
  <!--  TABS-->
  <div class="ze_tab">
    <button class="ze_tab_links" onclick="selectPayType(event, 'mobile_wallet')">M-PESA</button>
    <button class="ze_tab_links" onclick="selectPayType(event, 'bank_account')">BANK</button>
    <button class="ze_tab_links" onclick="selectPayType(event, 'query_pay')">QUERY PAY</button>
    <button class="ze_tab_links" onclick="selectPayType(event, 'create_pay')">CREATE PAY</button>
  </div>
  <!--  M-PESA-->
  <div class="ze_tab_content" id="mobile_wallet">
    <div class="ze_form">
      <%= form_tag("/pay", method: :post) do %>
        <%= hidden_field_tag(:decision, 'pay_recipients_form') %>
        <%= hidden_field_tag(:pay_type, 'mobile_wallet') %>
        <div class="ze_common_div">
          <div class="ze_common_top_div">
            <%= label_tag(:first_name, "First Name:") %>
            <%= text_field_tag(:first_name) %>
          </div>
          <div class="ze_common_bottom_div">
            <%= label_tag(:last_name, "Last Name:") %>
            <%= text_field_tag(:last_name) %>
          </div>
        </div>
        <%= label_tag(:phone, "Phone Number:") %>
        <%= text_field_tag(:phone) %><br><br>
        <%= label_tag(:email, "Email Address:") %>
        <%= text_field_tag(:email) %><br><br>
        <%= label_tag(:network, "Network Operator:") %>
        <%= text_field_tag(:network) %>
        <br>
        <%= submit_tag("SUBMIT") %>
      <% end %>
    </div>
  </div>
  <!--BANK-->
  <div class="ze_tab_content" id="bank_account">
    <div class="ze_form">
      <%= form_tag("/pay", method: :post) do %>
        <%= hidden_field_tag(:decision, 'pay_recipients_form') %>
        <%= hidden_field_tag(:pay_type, 'bank_account') %>
        <div class="ze_common_div">
          <div class="ze_common_top_div">
            <%= label_tag(:first_name, "First Name:") %>
            <%= text_field_tag(:first_name) %>
          </div>
          <div class="ze_common_bottom_div">
            <%= label_tag(:last_name, "Last Name:") %>
            <%= text_field_tag(:last_name) %>
          </div>
        </div>

        <strong><%= label_tag(:acc, "Account Details:") %></strong>
        <div class="ze_common_div">
          <div class="ze_common_top_div">
            <%= label_tag(:acc_name, "Bank Account Name:") %>
            <%= text_field_tag(:acc_name) %>
          </div>
          <div class="ze_common_bottom_div">
            <%= label_tag(:acc_no, "Bank Account Number:") %>
            <%= text_field_tag(:acc_no) %>
          </div>
        </div>

        <strong><%= label_tag(:bank, "Bank Details:") %></strong>
        <div class="ze_common_div">
          <div class="ze_common_top_div">
            <%= label_tag(:bank_id, "Bank ID Number:") %>
            <%= text_field_tag(:bank_id) %>
          </div>
          <div class="ze_common_bottom_div">
            <%= label_tag(:bank_branch_id, "Bank Branch ID Number:") %>
            <%= text_field_tag(:bank_branch_id) %>
          </div>
        </div>

        <%= label_tag(:phone, "Phone Number:") %>
        <%= text_field_tag(:phone) %><br><br>
        <%= label_tag(:email, "Email Address:") %>
        <%= text_field_tag(:email) %>
        <br>
        <%= submit_tag("SUBMIT") %>
      <% end %>
    </div>
  </div>
  <!--  QUERY PAY-->
  <div class="ze_tab_content" id="query_pay">
    <div class="ze_form">
      <%= form_tag("/pay", method: :post) do %>
        <%= hidden_field_tag(:decision, 'query_pay_form') %>
        <div class="query_div">
          <div class="query_id_div">
            <%= label_tag(:payment_id, "Payment Reference ID:") %>
            <%= text_field_tag(:payment_id) %>
          </div>
        </div>
        <br>
        <%= submit_tag("SUBMIT") %>
      <% end %>
    </div>
  </div>
  <!--CREATE PAY-->
  <div class="ze_tab_content" id="create_pay">
    <div class="ze_form">
      <%= form_tag("/pay", method: :post) do %>
        <%= hidden_field_tag(:decision, 'create_pay_form') %>
        <div class="currency_div">
          <div class="currency_select_div">
            <%= select_tag(:currency,
                           options_for_select([
                                                  ['CURRENCY', { 'selected' => 'true' }, { 'disabled' => 'disabled' }],
                                                  ['Kenyan Shilling', 'KES'],
                                                  ['Ugandan Shilling', 'USH'],
                                                  ['Tanzanian Shilling', 'TSH'],
                                              ])
                ) %>
          </div>
          <div class="amount_div">
            <%= label_tag(:value, "Amount:") %>
            <%= text_field_tag(:value) %>
          </div>
        </div>
        <br>
        <%= submit_tag("SUBMIT") %>
      <% end %>
    </div>
  </div>
</div>