<p id="notice"><%= notice %></p>

<h3>Webhook Subscription</h3>

<div class="webhooks">
  <table>
    <thead>
    <tr>
      <th>API Secret Key</th>
      <th>Event Type</th>
      <th>Location Resource</th>
      <th>Access Token</th>
      <th>Response</th>
      <th>Show</th>
    </tr>
    </thead>

    <tbody>
    <% @webhooks.each do |webhook| %>
      <tr>
        <td><%= webhook.secret %></td>
        <td><%= webhook.event %></td>
        <td><%= webhook.location_url %></td>
        <td><%= webhook.access_token %></td>
        <td><%= webhook.result %></td>
        <td><%= link_to 'remove_red_eye', webhook, class: 'material-icons' %></td>
        <!--      <td><%#= link_to 'Edit', edit_trial_path(trial) %></td>-->
        <!--      <td><%#= link_to 'Destroy', webhooks, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Webhook Subscription', new_webhook_subscription_path, class: "waves-effect waves-light btn" %>

<script>
    document.getElementById('subscription').style.display = 'none'
</script>