<div class="row">
  <div class="s12">
    <ul class="tabs">
      <button class="tab col s3 active tab_link" type="button" onclick="recipientType(event, 'mpesa')">M-PESA</button>
      <button class="tab col s3 tab_link" type="button" onclick="recipientType(event, 'bank')">BANK</button>
    </ul>
  </div>

  <br>

  <div id="mpesa" class="col s12 recipient_content">
    <!--      <h4>Mpesa</h4>-->
    <%= form_with(model: pay_recipient, local: true) do |form| %>
      <% if pay_recipient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(pay_recipient.errors.count, "error") %> prohibited this Mobile Recipient from being saved:</h2>

          <ul>
            <% pay_recipient.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render "common", form: form %>
      <%= form.hidden_field(:order_type, value: 'mobile_wallet') %>
      <div>
        <%= form.label(:network, "Network Operator:") %>
        <%= form.text_field(:network) %>
      </div>

      <br>

      <div class="actions">
        <%= form.submit(data: { disable_with: "Creating PAY Object." }, class: "button btn btn-primary btn-lg") %>
      </div>

    <% end %>
  </div>

  <div id="bank" class="col s12 recipient_content" style="display:none">
    <!--      <h4>Bank</h4>-->
    <%= form_with(model: pay_recipient, local: true) do |form| %>
      <% if pay_recipient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(pay_recipient.errors.count, "error") %> prohibited this Bank Recipient from being saved:</h2>

          <ul>
            <% pay_recipient.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render "common", form: form %>
      <%= form.hidden_field(:order_type, value: "bank_account") %>
      <p><%= label_tag(:bank_account_details, "Account Details:") %></p>

      <div>
        <%= form.label(:account_name, "Bank Account Name:") %>
        <%= form.text_field(:account_name) %>
      </div>

      <div>
        <%= form.label(:account_number, "Bank Account Number:") %>
        <%= form.text_field(:account_number) %>
      </div>

      <div>
        <%= form.label(:bank_branch_id, "Bank Branch Reference:") %>
        <%= form.text_field(:bank_branch_id) %>
      </div>

      <br>

      <div class="actions">
        <%= form.submit(data: { disable_with: "Creating PAY Object." }, class: "button btn btn-primary btn-lg") %>
      </div>

    <% end %>
  </div>

</div>
