<div class="row">
  <div class="transfer_account">
<!--    Make Transfer-->
    <%= form_with(model: transfer, local: true) do |form| %>
      <% if transfer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this Transfer from being saved:</h2>

          <ul>
            <% transfer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label(:destination_type, "Destination Type:") %>
        <%= form.text_field(:destination_type) %>
      </div>

      <div>
        <%= form.label(:destination_reference, "Destination Reference:") %>
        <%= form.text_field(:destination_reference) %>
      </div>

      <br>

      <div>
        <%= form.select(:currency, options_for_select([ ['Kenyan Shilling', 'KES'], ['Ugandan Shilling', 'USH'], ['Tanzanian Shilling', 'TSH'], ]), { :prompt =>"CURRENCY" }, {:class => 'browser-default'}) %>
      </div>

      <br>

      <div>
        <%= form.label(:value, "Amount:") %>
        <%= form.text_field(:value) %>
      </div>

      <br>

      <div class="actions">
        <%= form.submit(data: { disable_with: "Making Transfer." }, class: "button btn btn-primary btn-lg") %>
      </div>

    <% end %>
  </div>

</div>