<p id="notice"><%= notice %></p>

<h3>Transfers</h3>

<div class="webhooks">
    <table id="transfers_index" class="transfers_index">
      <thead>
      <tr>
        <th>Destination Type</th>
        <th>Destination Reference</th>
        <th>Currency</th>
        <th>Value</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @transfers.each do |transfer| %>
              <td><%= transfer.destination_type %></td>
              <td><%= transfer.destination_reference %></td>
              <td><%= transfer.currency %></td>
              <td><%= transfer.value %></td>
              <td><%= link_to 'remove_red_eye', transfer, class: 'material-icons' %></td>
            </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Transfer', new_payments_transfer_path, class: "waves-effect waves-light btn" %>

<script>
    document.getElementById('transfers').style.display = 'none'
</script>