<p id="notice"><%= notice %></p>

<div class="show_subscription">

  <p>
    <strong>Destination Type:</strong>
    <%= @transfer.destination_type  %>
  </p>

  <p>
    <strong>Destination Type:</strong>
    <%= @transfer.destination_reference  %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= @transfer.currency + " " + @transfer.value  %>
  </p>

  <p>
    <strong>Location Resource URL:</strong>
    <%= @transfer.location_url %>
  </p>

  <p>
    <strong>Transfer Response:</strong>
    <%= @transfer.response %>
  </p>
</div>
<br>
<%= form_tag(payments_query_transfer_path(@transfer.id)) do %>
  <div class="actions">
    <%= submit_tag('Query Status', data: { disable_with: "Querying Transfer." }, class: "button btn btn-primary btn-lg") %>
  </div>
 <% end %>
<hr>
<%= link_to 'Back', payments_transfers_path, class: "waves-effect waves-light btn" %>