<p id="notice"><%= notice %></p>

<h3>PAY</h3>

<div class="webhooks">
  <div class="payments">
    <table>
      <thead>
      <tr>
        <th>Destination</th>
        <th>Currency</th>
        <th>Value</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @created_pays.each do |pay| %>
        <tr>
          <td><%= pay.destination %></td>
          <td><%= pay.currency %></td>
          <td><%= pay.value %></td>
          <td><%= link_to 'remove_red_eye', pay, class: 'material-icons' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Pay', new_payments_pay_path, class: "waves-effect waves-light btn" %>

<script>
    document.getElementById('pay').style.display = 'none'
</script>