<p id="notice"><%= notice %></p>

<div class="show_pay">
  <p>
    <strong>Pay ID:</strong>
    <%= @pay.id %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= @pay.destination %>
  </p>

  <p>
    <strong>Amount Paid:</strong>
    <%= @pay.currency + " " + @pay.value %>
  </p>

  <p>
    <strong>Payments Resource Location URL:</strong>
    <%= @pay.location_url %>
  </p>

  <p>
    <strong>Payments Response:</strong>
    <%= @pay.response %>
  </p>

  <p>
    <strong>Payments Result:</strong>
    <%= @pay.result %>
  </p>

</div>
<br>
<%= form_tag(payments_query_pay_path(@pay.id)) do %>
  <div class="actions">
    <%= submit_tag('Query Status', data: { disable_with: "Querying Pay." }, class: "button btn btn-primary btn-lg") %>
  </div>
 <% end %>
<hr>
<%= link_to 'Back', payments_pays_path, class: "waves-effect waves-light btn" %>