<!DOCTYPE html>
<html>
  <head>
    <title>Kt Tips</title>
    <%= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--    Material Design Stylesheet Material -->
<!--    Icon-->
    <%#= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material\Icons', media: 'all', 'data-turbolinks-track': 'reload' %>
<!--    <link href="https://fonts.googleapis.com/icon?family=Material\Icons" rel="stylesheet">-->

  </head>

  <body>
  <%= render "layouts/header" %>

  <%= render "layouts/main" %>

  <%= render "layouts/footer" %>

  </body>
</html>
